argon2-cffi==19.2.0
asgiref==3.2.7
autopep8==1.5.1
bcrypt==3.1.7
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Django==3.1.13
django-ckeditor==5.9.0
django-crispy-forms==1.9.0
django-js-asset==1.2.2
idna==2.9
opencv-contrib-python==4.1.2.30
pycodestyle==2.5.0
pycparser==2.20
pytz==2019.3
requests==2.23.0
sentry-sdk==0.14.3
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.8
whitenoise==5.0.1
wincertstore==0.2
